type T{{ pascalCase func }}PageProps = {
	//
}

export function {{ pascalCase func }}Page(props: T{{ pascalCase func }}PageProps) {
	console.log(`<{{ pascalCase func }}Page />`, { props })
	return (
		<div>Hello</div>
	)
}
